<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aorise.weeklyreport">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ChooseMemeberActivity" /> <!-- 成员选择 界面 暂时没有使用 -->
        <activity android:name=".activity.WorkTimeYearStatisticsActivity" /> <!-- 按年份统计工时 -->
        <activity android:name=".activity.WorkTimeMonthStatisticsActivity" /> <!-- 按月份统计工时 -->
        <activity android:name=".activity.SettingsNextWeekPlanActivity" /> <!-- 指定下周工作计划界面 -->
        <activity android:name=".activity.ChooseProjectActivity" /> <!-- 项目选择 项目组成员选择 界面 -->
        <activity android:name=".activity.ProjectInfoActivity" /> <!-- 项目概况 界面 包含项目描述，成员列表 和 统计分析 -->
        <activity android:name=".activity.ReviewAndToFillReportActivity" /> <!-- 普通成员登录后查看和填写周报界面 -->
        <activity android:name=".activity.OverAllSituationActivity" /> <!-- 项目周报 整体情况查看界面 -->
        <activity android:name=".activity.ProjectReportManagerActivity" /> <!-- 项目周报详情界面 -->
        <activity android:name=".activity.WeeklyReportDetailActivity" /> <!-- 周报详情页面 -->
        <activity android:name=".activity.AuditWeeklyReportActivity" /> <!-- 审批周报界面 -->
        <activity android:name=".activity.FillReportActivity" /> <!-- 新增或者编辑周报界面 -->
        <activity android:name=".activity.LoginActivity"> <!-- 登录界面 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>